@model IEnumerable<DataTransferObjects.Types.TypeDto>


<table class="table table-bordered table-hover table-striped" id="tblType">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Action

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a href="javascript:void(0);" id="blockui_sample_2_2" title="Edit Type" onclick="Type.initEditType('@item.id');"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a href="javascript:void(0);" title="Delete Type" onclick="Type.initDeleteType('@item.id');"><i class="fa fa-trash" aria-hidden="true"></i></a>
               
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblType').DataTable();
    });
</script>
