@model IEnumerable<DataTransferObjects.Neighborhood.NeighborhoodDTO>



<table class="table table-bordered table-striped table-responsive table-hover" id="tblNeighborhood">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                Action

            </th>
        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model)
     {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Neighborhood)
                </td>
                <td>
                    <a href="javascript:void(0);" id="blockui_sample_2_2" title="Edit Neighborhood" onclick="Neighborhood.initEditNeighborhood(@item.id);"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a href="javascript:void(0);" title="Delete Neighborhood" onclick="Neighborhood.initDeleteNeighborhood(@item.id);"><i class="fa fa-trash" aria-hidden="true"></i></a>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>
     }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblNeighborhood').DataTable();
    });
</script>

  